
*{
  padding : 0px;
  margin: 0px;
}

html{
  min-height: 100vh;
  background: rgb(112, 112, 112);
}



.ui.grid>.column:not(.row){
  padding-left: 0;
}

.wide .column{
  padding-right: 0px;
  padding-left: 0px;
}